* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #95a5a6;
}

header {
    font-size: 20px;
    font-family:  Verdana;
    background-color: cornflowerblue;
    text-align: center;
    height: 150px;
}

#car {
    width: 10%;
    float: left;
    height: 130px;
    margin-top: -120px;
}

h1 {
    color: white;
    padding: 2%;
}


#title {
    font-size: 50px;
    color: white;
}

nav {
    
    background-color: #333;
}

nav ul li {
    display: inline-block;
    border-style: solid;
    border-color: #333;
    background-color: #333;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

nav li:hover {
    background-color: #04AA6D;
}

nav ul li a:link, nav li a:visited {
    text-decoration: none;
    color: white;
}

#contact {
    float: left;
    background-color: crimson;
    height: 500px;
    width: 35%;
    margin-right: 30%;
}

#second {
    display: flex;
    flex-direction: column;
    background-color: #233eb4;
    width: 35%;
    height: 500px;
}

h3{
    color: white;
    font-size: 20px;
    font-family: Calibri;
    text-align: center;
    margin-bottom: 5%;
}

#tex {
    font-size: 20px;
    font-family: Calibri;
    margin-top: 5%;
}

form {
    display: block;
    margin-top: 5%; 
    border-style: solid;
    border-color: #333;
    background-color: gray;
    height: 380px;
    border-radius: 5px;
}


#fname {
    display: block;
    width: 50%;
}

#em {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
}

#email {
    margin-bottom: 5%;
    width: 50%;
}

#fn {
    font-size: 20px;
    font-family: Calibri;
    color: white;
}

#last {
    font-size: 20px;
    text-align: center;
    color: white;
}

#ph {
    display: flex;
    font-size: 20px;
    font-family: Calibri;
    color: white;
    margin-top: 1%;
}

#pho {
    width: 50%;
}

#message {
    margin-right: 5%;
    float: left;
    width: 50%;
}

#mesa{
    display: flex;
    margin-top: 2%;
    font-size: 20px;
    color: white;
}

textarea {
    resize: none
}

#con {
    font-size: 20px;
    font-family: Verdana;
    background-color: #233eb4;
    color: white;
}

#inf {
    margin-top: 5%;
    font-size: 20px;
    font-family: Verdana;
}

#address {
    margin-top: 10%;
    font-size: 18px;
    font-family: Verdana;
    color: gray;
}

#phone {
    margin-top: 10%;
    font-size: 18px;
    font-family: Verdana;
    color: gray;
}

#time {
    margin-top: 10%;
    font-size: 18px;
    font-family: Verdana;
    color: gray;
}

#soon {
    margin-top: 10%;
    font-size: 18px;
    font-family: Verdana;
    color: gray;
}

input[type=text], input[type=email], textarea  {
    width: 80%;
    padding: 10px;
}

input[type=submit] {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 20px 36px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#submit:active {
    background-color: #3e8e41;
}

.nav {
    background-color: green;
    border-color: green;
    color: white;
    padding: 16px 33px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}



footer {
    color: white;
    font-size: 30px;
    font-family: Verdana;
    background-color: darkorange;
    text-align: center;
    height: 90px;
    padding: 1%;
}


