* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #95a5a6;
}

header {
    font-family:  Verdana;
    background-color: cornflowerblue;
    text-align: center;
    height: 150px;
}

#car {
    width: 10%;
    float: left;
    height: 130px;
    margin-top: -120px;
}

h1 {
    color: white;
    padding: 2%;
}

nav {
    background-color: #333;
}


nav ul li {
    display: inline-block;
    border-style: solid;
    border-color: #333;
    background-color: #333;
    padding: 1%;
}
nav li:hover {
    background-color: #04AA6D;
}

nav ul li a:link, nav li a:visited {
    text-decoration: none;
    color: white;
}

#firstbox {
    float: left;
    background-color: crimson;
    width: 35%;
    height: 500px;
}

#title {
    font-size: 50px;
    color: white;
}

#para1 {
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: Verdana;
    font-size: 18px;
}

#para2 {
    font-family: Verdana;
    font-size: 18px;
}

#sale {
   margin-top: 5%;
   margin-left: 36%;
   width: 20%;
   height: 200px;
}

#secondbox {
    height: 500px;
    background-color: #233eb4;
}

#second {
    color: white;
    font-family: Helvetica;
    font-size: 50px;
}

#para3 {
    margin-top: 1%;
    font-family: Helvetica;
    font-size: 18px;
}

footer {
    color: white;
    font-size: 30px;
    font-family: Verdana;
    background-color: darkorange;
    text-align: center;
    height: 120px;
    padding: 1%;
}

#truck {
    width: 20%;
    height: 200px;
    margin-top: 5%;
    margin-left: 17%;
}


.nav {
    background-color: green;
    border-color: green;
    color: white;
    padding: 16px 33px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
