*  {
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #95a5a6;
}

header {
    font-family:  Verdana;
    background-color: cornflowerblue;
    text-align: center;
    height: 150px;
}

#car {
    width: 10%;
    float: left;
    height: 130px;
    margin-top: -120px;
}

h1 {
    color: white;
    padding: 2%;
}

nav {
    background-color: #333;
}

nav ul li {
    display: inline-block;
    border-style: solid;
    border-color: #333;
    background-color: #333;
    padding: 1%;
}

nav li:hover {
    background-color: #04AA6D;
}

nav ul li a:link, nav li a:visited {
    text-decoration: none;
    color: white;
}

#title {
    font-size: 50px;
    color: white;
}

#available {
    font-size: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section {
    display: flex;
    flex-direction: row;
    background-color: #233eb4;
}

#item1:hover {
    border-style: solid;
    border-color: red;
    background-color: seagreen;
}

#item2:hover {
    border-style: solid;
    border-color: red;
    background-color: coral;
}

#item3:hover {
    border-style: solid;
    border-color: red;
    background-color: slateblue;
}

#item4:hover {
    border-style: solid;
    border-color: red;
    background-color: rosybrown;
}

#classic {
    float: left;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.vehicle {
    width: 400px;
    height: 450px;
}

#MotorScoter {
    float: left;
    color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#motorbike {
    float: left;
    color: white;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#new {
    float: left;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#price {
    color: green;
    font-size: 30px;
    text-align: end;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#secondprice {
    color: red;
    font-size: 30px;
    text-align: end;
    font-family: 'Arial Narrow';
}

#thirdprice {
    color: red;
    font-size: 30px;
    text-align: end;
    font-family: 'Impact';
}

#fourthprice {
    color: green;
    font-size: 30px;
    text-align: end;
    font-family: 'Verdana';
}

button {
    background-color: darkblue;
    border-color: darkblue;
    color: white;
    padding: 16px 33px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.outofStock {
    opacity: 0.5;
    cursor: not-allowed;
}

button:active {
    background-color: blue;
}

.info1 {
    color: white;
    font-size: 20px;
    font-family: "Helvetica";
}

.info2 {
    color: white;
    font-size: 20px;
    font-family: cursive;
}

.info3 {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.info4 {
    color: white;
    font-size: 20px;
    font-family: monospace;
}

.nav {
    background-color: green;
    border-color: green;
    color: white;
    padding: 16px 33px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.nav:active {
    background-color: green;
}

footer {
    color: white;
    font-size: 30px;
    font-family: Verdana;
    background-color: darkorange;
    text-align: center;
    height: 90px;
    padding: 1%;
}

@media only screen and (max-width:600px) {
    section  {
        flex-direction: column;
    }
    header {
        height: auto;
    }
    .vehicle {
        width: 100%;
        height: auto;
    }
    #car {
        margin-top: -50px;
        height: auto;
    }
}

